:host {
    display: flex;
    margin-bottom: 12px;

    &.ng-invalid.ng-touched .duration__input {
        border: 1px solid red;
    }
}

.duration__input {
    width: 150px;
    border: 1px solid #d9dbe3;
    border-radius: 3px;
    padding: 10px;
}

.duration__hours {
    margin-top: 10px;
    color: #525462;
    margin-left: 12px;
    min-width: 70px;
}
