/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Oswald:500|Source+Sans+Pro:400,600&display=swap');
@import 'variables';

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

fa-icon {
    margin-right: 8px;
}

button,
input[type='submit'] {
    font-size: 14px;
    background-color: $defaultButton;
    color: white;
    border: none;
    padding: 13px 24px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: darken($defaultButton, 10%);
}

button:disabled {
    background-color: #d9dbe3;
    color: #a8a9b4;
}

h1,
h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
