@import '../../../../variables';

:host {
    background-color: white;
    padding: 24px;
    margin-top: 6px;
    margin-bottom: 18px;
    border-radius: 8px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course__info {
    max-width: 800px;
}

.course__header {
    color: #2c2f3c;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.course__props {
    color: #b9bdce;
}

.course__duration {
    margin-right: 18px;
}

.course__description {
    line-height: 24px;
    color: #525462;
}

.course__description h2 {
    color: #2c2f3c;
}

.course__controls {
    text-align: right;
}

.course__controls button {
    font-size: 12px;
    padding: 4px 17px;
    margin: 5px 5px 5px 12px;
}

.course__star {
    margin: 3px auto 0 10px;
    color: #ffaa09;
}
