<section class="course__info">
    <header class="course__header">
        <h2>{{ course?.title | uppercase }}</h2>
        <div *ngIf="course.topRated" class="course__star">
            <fa-icon [icon]="faStar"></fa-icon>
        </div>
        <div class="course__props">
            <span class="course__duration">
                <fa-icon [icon]="faClock"></fa-icon>
                {{ course?.duration | minutesToHours }}
            </span>
            <span>
                <fa-icon [icon]="faCalendarAlt"></fa-icon>
                {{ course?.createdAt | date: 'mediumDate' }}
            </span>
        </div>
    </header>
    <p class="course__description">
        {{ course?.description }}
    </p>
</section>
<section class="course__controls">
    <button [routerLink]="['/courses', course.id]">
        <fa-icon [icon]="faPen"></fa-icon>
        {{ 'COURSES_PAGE.EDIT' | translate }}
    </button>
    <button (click)="onDelete()">
        <fa-icon [icon]="faTrash"></fa-icon>
        {{ 'COURSES_PAGE.DELETE' | translate }}
    </button>
</section>
