:host {
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.wrapper {
    padding-top: 23px;
    padding-bottom: 23px;
}

.breadcrumbs {
    list-style: none;
    display: flex;
}
