<ul class="wrapper breadcrumbs">
    <li *ngFor="let path of paths; let idx = index">
        <a *ngIf="idx !== 0 || paths.length === 1">{{ 'COURSE_PAGE.' + path.name | translate }}</a>
        <a *ngIf="idx === 0 && paths.length !== 1" [routerLink]="['/', path.path]">{{
            'COURSE_PAGE.' + path.name | translate
        }}</a>
        <span *ngIf="idx < paths.length - 1 && paths.length > 1">&nbsp;/&nbsp;</span>
    </li>
</ul>
