<ul class="dropdown" #dropdown>
    <li *ngFor="let item of items" class="dropdown__item" [attr.data-id]="item.id" (mousedown)="onSelect($event)">
        {{ item.name }}
    </li>
    <li *ngIf="!items" class="dropdown__item">Loading...</li>
    <li *ngIf="items && !items.length" class="dropdown__item">There is no more items</li>
</ul>
