@import '../../../../variables';

.dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    background-color: white;
    border: 1px solid $cancelButton;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);

    &__item {
        padding: 3px;

        &:hover {
            background-color: #dddddd;
        }
    }
}
