@import '../../../../variables';

:host {
    background-color: $mainBackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.courses__list {
    list-style: none;
}

.courses__loadMore,
.courses__noDate {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    padding: 15px 24px;
    margin-top: 6px;
    margin-bottom: 18px;
    border-radius: 8px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.topRated {
    background-color: #fff8d8;
}
