<app-breadcrumbs></app-breadcrumbs>
<app-top-section (search)="onSearch($event)"></app-top-section>
<div class="wrapper" *ngIf="courses$ | async; let courses">
    <ul class="courses__list">
        <li *ngFor="let course of courses">
            <app-course
                [course]="course"
                (delete)="onDelete($event)"
                [appCreationDate]="course.createdAt"
                [ngClass]="course.topRated ? 'topRated' : ''"
            ></app-course>
        </li>
        <li *ngIf="courses.length" class="courses__loadMore">
            <a *ngIf="courses?.length" (click)="onLoadMore($event)" href="#">{{
                'COURSES_PAGE.LOAD_MORE' | translate
            }}</a>
        </li>
        <li *ngIf="!courses?.length" class="courses__noDate">
            {{ 'COURSES_PAGE.NO_COURSES' | translate }}
        </li>
    </ul>
</div>
