:host {
    width: 100%;
    background-color: #3b3d4a;
    color: white;
    display: flex;
    justify-content: center;
}

:host .wrapper {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

:host a {
    color: white;
    text-decoration: none;
}

:host a:hover {
    color: lightgray;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.logo img {
    width: 32px;
    margin-right: 10px;
}

.userBlock {
    margin-left: auto;
    display: flex;
}

.userMenu {
    display: flex;
    list-style: none;
    margin-right: 15px;
}

.userMenu__item {
    margin-left: 25px;
}

.userMenu__login,
.userMenu__logout {
    background: none;
    padding: 0;
}

.userMenu__login:hover,
.userMenu__logout:hover {
    color: lightgray;
}
