<div class="wrapper">
    <a href="#" class="logo">
        <img src="../../../assets/logo.svg" alt="logo" />
        Videoportal
    </a>
    <nav class="userBlock">
        <ul class="userMenu">
            <li class="userMenu__item">
                <button type="button" routerLink="/login" class="userMenu__login">
                    <fa-icon [icon]="faUser"></fa-icon>
                    {{ (userName$ | async) || 'COMMON.USER_LOGIN' | translate }}
                </button>
            </li>
            <li class="userMenu__item">
                <button type="button" routerLink="#" (click)="onLogout()" class="userMenu__logout">
                    <fa-icon [icon]="faSignOutAlt"></fa-icon>
                    {{ 'COMMON.LOG_OFF' | translate }}
                </button>
            </li>
        </ul>
        <select (change)="onCangeLanguage($event)">
            <option data-lang="en">En</option>
            <option data-lang="ru">Ru</option>
        </select>
    </nav>
</div>
