@import '../../../../variables';

:host {
    background-color: #f2f3f7;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2c2f3c;
}

.course-form {
    display: flex;
    flex-direction: column;
    width: 731px;
    padding: 24px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
}

.course-form input,
.course-form textarea {
    margin-bottom: 12px;
}

.course-form__main-title {
    margin-bottom: 22px;
}

.course-form__title-block {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.course-form__title {
    font-weight: 600;
}

.course-form__required {
    font-size: 12px;
    margin-left: auto;
}

.course-form__email-text,
.course-form__password-text {
    margin-bottom: 8px;
}

.course-form__email,
.course-form__password {
    font-weight: bold;
}

.course-form__email,
.course-form__authors {
    margin-bottom: 12px;
}

.course-form__input {
    width: 100%;
    border: 1px solid #d9dbe3;
    border-radius: 3px;
    padding: 10px;
}

.course-form__input::placeholder {
    color: #c0c3ce;
}

.course-form__password {
    margin-bottom: 24px;
}

.course-form__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.course-form__cancel,
.course-form__save {
    min-width: 68px;
    padding: 10px 15px;
}

input[type='submit'].course-form__save {
    background-color: $searchButton;
    margin-left: 12px;
    margin-bottom: 0;

    &:disabled {
        background-color: #d9dbe3;
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        background-color: darken($searchButton, 10%);
    }
}

.course-form__cancel {
    background-color: $cancelButton;
    color: $cancelButtonText;
}

.course-form__cancel:hover {
    background-color: darken($cancelButton, 10%);
}

.course-form__password-title,
.course-form__email-title {
    display: flex;
    justify-content: space-between;
}

.course-form__required {
    color: #6c7283;
}

.course-form__duration,
.course-form__date {
    min-width: 150px;
    align-self: flex-start;
}

.course-form__duration-hours {
    margin-top: 10px;
    color: #525462;
    margin-left: 12px;
    min-width: 70px;
}

.course-form__authors {
    align-self: flex-start;
}

.course-form__alert {
    color: red;
    font-style: italic;
    margin: 0 10px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.calendar-wrapper {
    position: relative;
}
