<app-breadcrumbs></app-breadcrumbs>
<form
    *ngIf="course$ | async; let course"
    [formGroup]="courseForm"
    (ngSubmit)="onSave(courseForm.value, course)"
    class="course-form"
>
    <h1 class="course-form__main-title">
        {{ id ? ('COURSE_PAGE.EDIT_COURSE' | translate) : ('COURSE_PAGE.NEW_COURSE' | translate) }}
    </h1>
    <label>
        <div class="course-form__title-block">
            <p class="course-form__title">{{ 'COURSE_PAGE.TITLE' | translate }}</p>
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="course-form__alert">
                <div *ngIf="title.errors.required">{{ 'COURSE_PAGE.TITLE_REQUIRED' | translate }}</div>
                <div *ngIf="title.errors.maxlength">{{ 'COURSE_PAGE.TITLE_LENGTH' | translate }}</div>
            </div>
            <p class="course-form__required">*{{ 'COMMON.REQUIRED' | translate }}</p>
        </div>
        <input
            type="text"
            placeholder="{{ 'COURSE_PAGE.ADD_TITLE' | translate }}"
            class="course-form__input"
            formControlName="title"
        />
    </label>
    <label>
        <div class="course-form__title-block">
            <p class="course-form__title">{{ 'COURSE_PAGE.DESCRIPTION' | translate }}:</p>
            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="course-form__alert">
                <div *ngIf="description.errors.required">{{ 'COURSE_PAGE.DESCRIPTION_REQUIRED' | translate }}</div>
                <div *ngIf="description.errors.maxlength">{{ 'COURSE_PAGE.DESCRIPTION_LENGTH' | translate }}</div>
            </div>
            <p class="course-form__required">*{{ 'COMMON.REQUIRED' | translate }}</p>
        </div>
        <textarea
            placeholder="{{ 'COURSE_PAGE.ADD_DESCRIPTION' | translate }}"
            class="course-form__input"
            formControlName="description"
        ></textarea>
    </label>
    <label class="course-form__duration">
        <div class="course-form__title-block">
            <p class="course-form__title">{{ 'COURSE_PAGE.DURATION' | translate }}:</p>
            <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="course-form__alert">
                <div *ngIf="duration.errors.required">{{ 'COURSE_PAGE.DURATION_REQUIRED' | translate }}</div>
                <div *ngIf="duration.errors.validDuration">{{ 'COURSE_PAGE.DURATION_DIGITS' | translate }}</div>
            </div>
            <p class="course-form__required">*{{ 'COMMON.REQUIRED' | translate }}</p>
        </div>
        <app-duration formControlName="duration"></app-duration>
    </label>
    <label class="course-form__date">
        <div class="course-form__title-block">
            <p class="course-form__title">{{ 'COURSE_PAGE.DATE' | translate }}:</p>
            <div *ngIf="createdAt.invalid && (createdAt.dirty || createdAt.touched)" class="course-form__alert">
                <div *ngIf="createdAt.errors.required">{{ 'COURSE_PAGE.DATE_REQUIRED' | translate }}</div>
                <div *ngIf="createdAt.errors.validCreatedDate">{{ 'COMMON.INVALID_FORMAT' | translate }}</div>
            </div>
            <p class="course-form__required">*{{ 'COMMON.REQUIRED' | translate }}</p>
        </div>
        <app-created-date formControlName="createdAt"></app-created-date>
    </label>
    <label class="course-form__authors">
        <div class="course-form__title-block">
            <p class="course-form__title">{{ 'COURSE_PAGE.AUTHORS' | translate }}:</p>
            <div *ngIf="authors.invalid && (authors.dirty || authors.touched)" class="course-form__alert">
                <div *ngIf="authors.errors.required">{{ 'COMMON.REQUIRED' | translate }}</div>
            </div>
            <p class="course-form__required">*{{ 'COMMON.REQUIRED' | translate }}</p>
        </div>
        <app-authors formControlName="authors"></app-authors>
    </label>
    <footer class="course-form__footer">
        <button class="course-form__cancel" (click)="onCancel()">{{ 'COURSE_PAGE.CANCEL' | translate }}</button>
        <input
            type="submit"
            class="course-form__save"
            [disabled]="courseForm.invalid"
            value="{{ 'COURSE_PAGE.SAVE' | translate }}"
        />
    </footer>
</form>
