<div class="wrapper">
    <div class="searchBlock">
        <fa-icon [icon]="faSearch" class="searchBlock__magnifier"></fa-icon>
        <input
            type="text"
            placeholder="{{ 'COURSES_PAGE.SEARCH_TEXT' | translate }}"
            class="searchInput"
            [formControl]="searchControl"
        />
    </div>
    <button class="addCourse" (click)="onAddCourse()">
        <fa-icon [icon]="faPlus"></fa-icon>
        {{ 'COURSES_PAGE.ADD_COURSE' | translate }}
    </button>
</div>
