@import '../../../../variables';

:host {
    display: flex;
    justify-content: center;
    background-color: $mainBackground;
    padding-top: 24px;
    padding-bottom: 6px;
    width: 100%;
}

:host .wrapper {
    display: flex;
    flex-direction: column;
}

.searchBlock {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
}

.searchInput {
    width: 300px;
    border: 1px solid #d9dbe3;
    padding: 14px;
    padding-left: 42px;
    margin-right: 6px;
}

.searchInput::placeholder {
    color: #c0c3ce;
}

.searchButton {
    font-size: 18px;
    background-color: $searchButton;
    padding: 13px 24px;
    font-weight: bold;
}

.searchBlock__magnifier {
    position: absolute;
    top: 11px;
    left: 13px;
    font-size: 23px;
    transform: scale(-1, 1);
    color: #777;
}

.searchButton:hover {
    background-color: darken(#9bc837, 10%);
}

.addCourse {
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.addCourse fa-icon {
    font-size: 20px;
}
