:host {
    color: #c0c3ce;
    background-color: #414452;
    text-align: right;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: auto;
}
