:host {
    display: flex;
    margin-bottom: 12px;
    position: relative;

    &.ng-invalid.ng-touched .created-date__input {
        border: 1px solid red;
    }
}

.created-date__input {
    min-width: 150px;
    border: 1px solid #d9dbe3;
    border-radius: 3px;
    padding: 10px;
}

.calendar-icon {
    position: absolute;
    top: 7px;
    left: 150px;
    font-size: 20px;
}
