<div class="authors-wrapper">
    <ul class="authors-list">
        <li *ngFor="let author of value" class="author">
            <p class="author__name">{{ author.name }}</p>
            <div (click)="onRemove($event)" [attr.data-id]="author.id" class="author__delete">
                <fa-icon [icon]="faTimes"></fa-icon>
            </div>
        </li>
        <li class="authors-list__input-item">
            <input
                #input
                type="text"
                class="authors-list__input"
                [value]="typedAuthor$ | async"
                (keyup)="onType(input.value)"
                (focusin)="onFocusIn()"
                (focusout)="onFocusOut()"
            />
        </li>
    </ul>
    <app-dropdown
        *ngIf="focused"
        (selectItem)="onSelectAuthor($event)"
        [items]="notAddedAuthors$ | async"
    ></app-dropdown>
</div>
