@import '../../../../variables';
:host {
    &.ng-invalid.ng-touched .authors-list {
        border: 1px solid red;
    }
}
.authors-wrapper {
    position: relative;
    min-width: 200px;
}

.authors-list {
    display: flex;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid $cancelButton;
    align-items: center;
    flex-wrap: wrap;
    min-height: 38px;
    cursor: text;
}

.authors-list__input-item {
    list-style: none;
}

.authors-list__input {
    max-width: 40px;
    border: none;
    margin-bottom: 0;
}

.authors-list__input:focus {
    outline: none;
}

.author {
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    color: #6c7283;
    background-color: #f2f3f7;
    border-radius: 3px;
}

.author__name {
    margin: 0 8px;
    font-size: 12px;
}

.author__delete {
    color: #d9dbe3;
    cursor: pointer;

    &:hover {
        color: darken(#d9dbe3, 10);
    }
}
