<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h1 class="login-form__title">{{ 'LOGIN_PAGE.LOGIN' | translate }}</h1>
    <label class="login-form__email">
        <div class="login-form__email-title">
            <p class="login-form__email-text">E-mail:</p>
            <div *ngIf="login.invalid && (login.dirty || login.touched)" class="login-form__alert">
                <div *ngIf="login.errors.required">{{ 'LOGIN_PAGE.EMAIL_REQUIRED' | translate }}</div>
                <div *ngIf="login.errors.email">{{ 'LOGIN_PAGE.EMAIL_INVALID' | translate }}</div>
            </div>
            <p class="login-form__required">*{{ 'COMMON.REQUIRED' | translate }}</p>
        </div>
        <input
            type="text"
            placeholder="{{ 'LOGIN_PAGE.ENTER_EMAIL' | translate }}"
            class="login-form__input"
            formControlName="login"
        />
    </label>
    <label class="login-form__password">
        <div class="login-form__password-title">
            <p class="login-form__password-text">{{ 'LOGIN_PAGE.PASSWORD' | translate }}:</p>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="login-form__alert">
                <div *ngIf="password.errors.required">{{ 'LOGIN_PAGE.PASSWORD_REQUIRED' | translate }}</div>
                <div *ngIf="password.errors.minlength">{{ 'LOGIN_PAGE.PASSWORD_LENGTH' | translate }}</div>
            </div>
            <p class="login-form__required">*{{ 'COMMON.REQUIRED' | translate }}</p>
        </div>
        <input
            type="password"
            placeholder="{{ 'LOGIN_PAGE.ENTER_PASSWORD' | translate }}"
            class="login-form__input"
            formControlName="password"
        />
    </label>
    <footer class="login-form__footer">
        <a href="#">{{ 'LOGIN_PAGE.FORGOT_PASSWORD' | translate }}</a>
        <input
            type="submit"
            class="login-form__button"
            [disabled]="loginForm.touched && loginForm.invalid"
            value="{{ 'LOGIN_PAGE.LOGIN' | translate }}"
        />
    </footer>
</form>
