@import '../../../variables';

:host {
    background-color: #f2f3f7;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c2f3c;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 368px;
    padding: 24px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.login-form__alert {
    color: red;
    font-style: italic;
    margin: 0 10px;
}

.login-form__title {
    margin-bottom: 24px;
}

.login-form__email-text,
.login-form__password-text {
    margin-bottom: 8px;
}

.login-form__email,
.login-form__password {
    font-weight: bold;
}

.login-form__email {
    margin-bottom: 12px;
}

.login-form__input {
    width: 100%;
    border: 1px solid #d9dbe3;
    border-radius: 3px;
    padding: 10px;
}

.login-form__input::placeholder {
    color: #c0c3ce;
}

.login-form__password {
    margin-bottom: 24px;
}

.login-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form__button {
    height: 36px;
    width: 68px;
    padding: 0;
    background-color: $searchButton;
}

.login-form__button:disabled {
    background-color: #d9dbe3;
}

.login-form__password-title,
.login-form__email-title {
    display: flex;
    justify-content: space-between;
}

.login-form__required {
    color: #6c7283;
    margin-left: auto;
}
